*{
    padding: 0;
    margin: 0;
    border: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer {
    background-color: greenyellow;
    color: #fff;
    height: 4rem;
    text-align: center;
    padding: 10px;
    width: 100%;
  }






